@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/* CSS files add styling rules to your content */

html, body {
    height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
    margin:0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}



@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}



body.preload *{
  transition: opacity 0s, transform 0s !important;
}

#heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#illustrationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illustrationCaption {
  color: #FD3B52;
  font-family: 'Inter', sans-serif;  text-align: center;
  font-size: 1rem;
  height: 170px;
}


#appLogo {
  padding-bottom: 30px;
  height: 0px;
  transition: 0.75s height;
  -webkit-user-drag: none;
  filter: drop-shadow(22 rgb(87, 87, 87));
}

#logoAndDownload {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

#appTitle {
  color: #f5f5f5;
  font-family: 'Inter', sans-serif;  font-weight: 800;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 64px;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.75s, opacity 0.75s;
  padding-top: 50px;
}

#appCaption {
  max-width: 480px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 23px;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.75s, opacity 0.75s;
}

#appCaption2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 11px;
}

#appDownloadButton {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.75s, opacity 0.75s;
  outline: none;
  -webkit-user-drag: none;
}

#footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  flex-flow: column wrap;
  background-color: #1e1e1e;
}

#contacts {
  font-family: "Nunito";
  color: #ffffff;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
  font-size: 1.3rem;
}

#copyrights {
  font-family: "Nunito";
  color: #EB4C00;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
   font-size: 1.3rem;
  margin-top: 12px;
}

#getInTouch {
  font-family: "Nunito";
  color: #ffffff;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 5px;
}

.imageContainer{
  text-align: center;
}

.brandImage {
  max-width: 360px;
  border-radius: 16px;
  padding: 10px;
}

.contactLink {
  color: #ffffff;
  cursor: pointer;
  /* text-decoration: underline; */
}

.mailLink {
  color: #EB4C00;
  cursor: pointer;
  /* text-decoration: underline; */
}

@media only screen and (max-width: 500px) {
  /* For mobile */
  #illustrationContainer {
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  }
  
  .illustrationCaption {
    margin-top: -10px;
    margin-bottom: 60px;
  }
  
  .illustration {
  max-width: 75%;
  }
}


@media only screen and (min-width: 500px) and (max-width: 1000px) {
  /* For tablets */
  #illustrationContainer {
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  }
  
  .illustrationCaption {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .illustration {
  max-width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  #illustrationContainer {
  flex-direction: row;
  padding-left: 4vw;
  padding-right: 4vw;
  height: 90vh;
  }
  
  .illustrationCaption {
    margin-top: 20px;
  }
  
  .illustration {
  max-width: 30%;
  }
}

